<%= form_with(model: trabalhador) do |form| %>
  <% if trabalhador.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trabalhador.errors.count, "error") %> prohibited this trabalhador from being saved:</h2>

      <ul>
        <% trabalhador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf/cnpj, style: "display: block" %>
    <%= form.text_field :cpf_or_cnpj %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :dataNascimento, style: "display: block" %>
    <%= form.date_field :dataNascimento %>
  </div>

  <div>
    <%= form.label :profissão, style: "display: block" %>
    <%= form.text_field :profissão %>
  </div>

  <div>
    <%= form.label :endereco_id, style: "display: block" %>
    <%= form.text_field :endereco_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
