<div id="<%= dom_id trabalhador %>">
  <p>
    <strong>Nome:</strong>
    <%= trabalhador.nome %>
  </p>

  <p>
    <strong>Cpf or cnpj:</strong>
    <%= trabalhador.cpf_or_cnpj %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= trabalhador.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= trabalhador.email %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= trabalhador.dataNascimento %>
  </p>

  <p>
    <strong>Profissao:</strong>
    <%= trabalhador.profissao %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= trabalhador.cidade %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= trabalhador.bairro %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= trabalhador.logradouro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= trabalhador.cep %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= trabalhador.complemento %>
  </p>

</div>
