<div id="<%= dom_id trabalhador %>">
  <p>
    <strong>Nome:</strong>
    <%= trabalhador.nome %>
  </p>

  <p>
    <strong>Cpf/cnpj:</strong>
    <%= trabalhador.cpf/cnpj %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= trabalhador.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= trabalhador.email %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= trabalhador.dataNascimento %>
  </p>

  <p>
    <strong>Profissão:</strong>
    <%= trabalhador.profissão %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= trabalhador.endereco_id %>
  </p>

</div>
