<div id="<%= dom_id contrato %>">
  <p>
    <strong>Data:</strong>
    <%= contrato.data %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= contrato.duracao %>
  </p>

  <p>
    <strong>Valortotal:</strong>
    <%= contrato.valorTotal %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= contrato.cliente.nome %>
  </p>

  <p>
    <strong>Servico:</strong>
    <%= contrato.servico.nome %>
  </p>

</div>
