<div id="<%= dom_id contrato %>">
  <p>
    <strong>Datainicio:</strong>
    <%= contrato.dataInicio %>
  </p>

  <p>
    <strong>Datatermino:</strong>
    <%= contrato.dataTermino %>
  </p>

  <p>
    <strong>Duracaototalservico:</strong>
    <%= contrato.duracaoTotalServico %>
  </p>

  <p>
    <strong>Valortotal:</strong>
    <%= contrato.valorTotal %>
  </p>

  <p>
    <strong>Situacao:</strong>
    <%= contrato.situacao %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= contrato.cliente_id %>
  </p>

  <p>
    <strong>Servico:</strong>
    <%= contrato.servico_id %>
  </p>

</div>
