<!DOCTYPE html>
<html>
  <head>
    <title>GeneralServicesSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
        #menu-h ul li {
            display: inline;
            margin-right: 10px;
        }
    </style>
  </head>
  <body>
  <% if user_signed_in? && (current_user.tipo.eql? 'admin')  %>
    <nav id="menu-h">
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/clientes">
            Clientes
          </a>
        </li>
        <li>
          <a href="/trabalhadors">
            Trabalhadores
          </a>
        </li>
        <li>
          <a href="/servicos">
            Serviços
          </a>
        </li>
        <li>
          <a href="/contratos">
            Contratos
          </a>
        </li>
        <li>
          <%= link_to 'Editar usuário', '/users/edit', method: :get%>
        </li>
        <li>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
        </li>
      </ul>
    </nav>
    <%= yield %>
<% elsif user_signed_in? && (current_user.tipo.eql? 'cliente') %>
  <nav id="menu-h">
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <% @cliente = Cliente.all%>
          <a href="/clientes/<%= @cliente.find_by(email: current_user.email).id %>">
            Cliente
          </a>
        </li>
        <li>
          <a href="/contratos">
            Contratos
          </a>
        </li>
        <li>
          <%= link_to 'Editar usuário', '/users/edit', method: :get%>
        </li>    
        <li>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
        </li>
      </ul>
    </nav>
    <%= yield %>  
<% elsif user_signed_in? && (current_user.tipo.eql? 'trabalhador') %>
  <nav id="menu-h">
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <% @trabalhador = Trabalhador.all%>
          <a href="/trabalhadors/<%= @trabalhador.find_by(email: current_user.email).id %>">
            Trabalhador
          </a>
        </li>
        <li>
          <a href="/servicos">
            Serviços
          </a>
        </li>
        <li>
          <%= link_to 'Editar usuário', '/users/edit', method: :get%>
        </li>    
        <li>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete%>
        </li>
      </ul>
    </nav>
    <%= yield %>
<% elsif !user_signed_in? %>
  <nav id="menu-h">
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <%= link_to 'Login', '/users/sign_in', method: :delete%>
        </li>
      </ul>
    </nav>
    <%= yield %>        
<% end %>
  </body>
</html>
